body {
    margin: 0;
    /* padding: 0; */
    overflow: hidden;
    background-color: black;
    text-transform: uppercase;
}

button {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 1rem;
}

body > div {
    background-image: linear-gradient(35deg, crimson, blue);
    width: 100%;
    height: 100%;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
}

main > #player-1-section {
    padding: 2rem 4rem 2rem 5rem;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 3rem;

    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

main > section:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%);
}

#control-section {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 1rem;

    margin-top: 4rem;
}

main > #player-2-section {
    padding: 2rem 5rem 2rem 4rem;

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 3rem;

    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.current-score-container {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;

    padding: 1rem;
    border-radius: 1rem;
    background-color: crimson;
}

.current-score-container span {
    font-weight: bold;
}

#player1-result,
#player2-result {
    color: crimson;
    font-weight: bold;
    font-size: 2rem;
}

#dice-img {
    background-image: url(./images/1.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 4rem;
    aspect-ratio: 1;
}

.hidden {
    /* display: none; */
    visibility: hidden;
}

#pop-up-window {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 1rem;
    color: white;
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    border: 2px solid #333;
}

#pop-up-window div {
    place-self: end;
}

#pop-up-window button {
    font-weight: bold;
    
    border-radius: 5px;
    padding: 8px;
    transition: 250ms;
}

#no {
    background-color: rgb(0, 123, 180);
}

#yes {
    background-color: rgb(0, 80, 117);
}

#pop-up-window button:hover {
    background-color: rgba(255, 255, 255, 0.705);
}

.stop-playing {
    background-color: #222 !important;
    color: white !important;
}

.player-turn {
    background-color: palevioletred;
}

.not-my-turn {
    background-color: pink;
}